---
import '@fontsource/poppins';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-background font-poppins h-lvh">
		<div class="h-full w-full flex flex-col items-center justify-center">
			<div class="text-[#e2e8f0] text-center space-y-5 mx-48 tracking-wider leading-loose">
				<p class="text-4xl">Hi ! I'm Marek</p>
				<p class="text-xl">I like creating stuff and learn new things.</p>
				<div class="flex gap-8 text-md justify-center text-orange-500">
					<a href="https://x.com/mkpanq" target=”_blank” class="hover:text-[#63b3ed]">Twitter / X</a>
					<a href="https://github.com/mkpanq" target=”_blank” class="hover:text-[#63b3ed]">Github</a>
					<a href="https://linkedin.com/in/mkpanq" target=”_blank” class="hover:text-[#63b3ed]">LinkedIn</a>
				</div>
			</div>
		</div>
	</body>
</html>
