---
import '@fontsource/poppins';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-background font-poppins h-lvh">
		<div class="h-full w-full flex flex-col items-center justify-center">
			<div class="text-[#e2e8f0]">
			</div>
		</div>
	</body>
</html>
